.originPostCard {
}

.replyBar {
    width: 100%;
    position: relative;
    margin-top: 20px;
    z-index: 0;
}

.replyBar textarea {
    width: 100%;
    min-height: 35px;
    height: 35px;
    max-height: 300px;
    border-radius: 100px;
    background-color: white;
    padding: 10px 35px;
    resize: none;
    border: 1px solid var(--border-color-dark);
    font-family: Arial, Helvetica, sans-serif;
    outline: 0 solid rgba(94, 107, 122, 0.138);
    transition: outline 0.1s;
}

.replyBar .replyIcon {
    position: absolute;
    left: 10px;
    top: 18px;
    transform: translateY(-50%);
    color: var(--primary);
    cursor: pointer;
}

.replyBar button {
    position: absolute;
    border-radius: 1000px;
    right: 3px;
    height: 30px;
    bottom: 7px;
    display: flex;
    align-items: center;
    padding: 0 8px !important;
}

.bottomFlex {
    display: flex;
    gap: 10px;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}

.contentArea {
    flex: 1;
    padding-top: 20px;
    gap: 5px;

}

.arrows {
    padding-top: 5px;
    gap: 10px;
}

.depth0 {
    padding-left: 0;
}

.depth1 {
    padding-left: 25px;
}

.depth2 {
    padding-left: 25px;
}