.searchbarContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.searchbarContainer input {
    width: 100%;
    padding: 8px;
    font-size: var(--font-size-regular);
    border: 1px solid var(--border-color);
    background-color: rgb(241, 241, 241);
    border-radius: 100px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

.searchbarIcon {
    width: 15px;
    height: 15px;
}

.searchbarContainer .placeholder {
    position: absolute;
    color: var(--color-text-muted);
    font-size: var(--font-size-regular);
    display: flex;
    align-items: center;
}