.container {
    width: 100%;
    padding: 8px;
    background-color: var(--color-surface);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 15px;
    gap: 5px;
}

.textarea {
    width: 100%;
    border: var(--border-width) solid var(--border-color);
    border-radius: 7px;
    height: 100px;
    resize: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container button {
    width: fit-content;
    font-size: 12px;
    padding: 8px 12px;
}

.container button.secondary {
    background-color: var(--border-color-light);
    color: var(--color-text-muted);
    border: 1px solid var(--border-color-dark) !important;
    border: none;
    border-radius: 5px;
    margin-left: auto;
}

.attachementsButton {
    display: flex;
    gap: 3px;
    font-size: var(--font-size-small);
    color: var(--color-text-muted);
    padding-left: 5px;
}