.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.form {
    background-color: white;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    z-index: 20;
}

.form form {
    display: flex;
    flex-direction: column;
} 

.form form input {
    width: 100%;
    padding-left: 30px !important;
    color: var(--color-text);
}

.form form button {
    width: 100%;
    margin-top: 10px;
}

.title {
    text-align: center;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-semi);
    margin-bottom: 10px;
}

.sub {
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--color-text-muted);
    margin-bottom: 20px;
}

.inputIconGroup {
    position: relative;
    margin: 10px 0;
}

.icon {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.footer {
    position: fixed;
    bottom: 10px;
    font-size: var(--font-size-small);
    color: var(--color-text-muted);
}

.errorMessage {
    color: var(--color-error);
    font-size: var(--font-size-small);
    margin: 10px 0 10px 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}