.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
}

.profileCard {
    display: flex;
    flex-direction: column;
    background: rgb(71,185,227);
    background: linear-gradient(21deg, var(--secondary-dark) 0%, var(--secondary-light) 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profileCard .profileCardTopArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 200px;
}

.profileCardBottomArea {
    background-color: var(--border-color-light);
    border: 2px solid var(--border-color-dark);
    height: 70px;
    border-radius: 0 0 8px 8px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nameInformation {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 15px;
}

.profileName {
    color: white;
}

.profileUsername {
    color: white;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
}

.cardItem {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    width: fit-content;
}

.cardItem .cardItemTitle {
    font-size: var(--font-size-small);
    color: var(--color-text-muted);
    font-weight: 500;
}

.cardItem .cardItemValue {
    font-size: var(--font-size-semi);
    color: var(--color-text);
}   

.profileCardTopArea {
    position: relative;
}

.profileName:hover .editIcon {
    opacity: 1;
}

.profileUsername:hover .editIcon {
    opacity: 1;
}

.editIcon {
    height: 20px;
    width: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.193);
    aspect-ratio: 1/1;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.2s;
}

.editAvatarIcon {
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: rgba(15, 15, 15, 0.3);
    color: white;
    aspect-ratio: 1/1;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    backdrop-filter: blur(5px);
    transition: opacity 0.2s;
}

.avatarContainer:hover .editAvatarIcon {
    opacity: 1;
}

.profileUsername .editIcon {
    height: 15px;
    width: 15px;
    padding: 4px;
}

.profileUsername span:focus, .profileName span:focus {
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.profileEditActions {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 10px;
    margin: 10px;
    animation: fadeIn 0.5s;
}

.profileEditActions button {
    font-size: 10px !important;
    padding: 8px 10px !important;
}

.profileEditActions button:first-of-type {
    background-color: rgba(255, 255, 255, 0.128);
    color: rgba(255, 255, 255, 0.548);
}

.profileEditActions button:last-of-type {
    background-color: white;
    color: var(--color-text);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}