.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px 0;
    margin: auto;
    opacity: 0;
    animation: 0.8s 0.1s fadeIn forwards;
}

.errorCode {
    font-size: 7rem;
    font-weight: 700;
    background: linear-gradient(21deg, var(--primary-light) 0%, var(--color-error) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.errorText {
    margin-top: 10px;
}

.errorDescription {
    font-size: var(--font-size-semi);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-muted);
    margin-top: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}