:root {
    --primary-light: #FF7D00;
    --primary-dark: #78290F;
    --secondary-dark: #001524;
    --secondary-light: #15616D;

    --secondary-light-50: #f0f9fa; /* Sehr hell */
    --secondary-light-100: #e5f4f6; /* Sehr hell */
    --secondary-light-200: #bfdde0;
    --secondary-light-300: #99c6cb;
    --secondary-light-400: #73aeb5;
    --secondary-light-500: #4d97a0; /* Standardfarbe abgeschwächt */
    --secondary-light-600: #337e87; /* Etwas dunkler */
    --secondary-light-700: #216671;
    --secondary-light-800: #144c59; 
    --secondary-light-900: #093641; /* Sehr dunkel */

    --accent: #FFECD1;

    --color-success: #28A745;
    --color-error: #DC3545;
    --color-warning: #FFC107;
    --color-info: #17A2B8;

    --color-background: #FFFFFF;
    --color-surface: #F8F9FA;
    --color-overlay: rgba(0, 0, 0, 0.5);
    --color-text: #212529;
    --color-text-muted: #6C757D;

    --opacity-transparent: 0;
    --opacity-semi-transparent: 0.25;
    --opacity-medium-transparent: 0.5;
    --opacity-full: 1;

    --border-radius: 0.25rem;
    --border-width: 1px;
    --border-color: #DEE2E6;
    --border-color-light: #E9ECEF;
    --border-color-dark: #CED4DA;

    --font-size-small: 12px;
    --font-size-regular: 14px;
    
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    padding: 0 20px;
    height: 100vh;
}