.inlinePost {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 8px;
    width: 700px;
}

.widthLimit {
    width: inherit;
    flex: 1;
}

.header {
    display: flex;
    height: 20px;
    align-items: center;
}

.header .author {
    display: flex;
    font-weight: var(--font-weight-semi-bold);
    gap: 8px;
    color: var(--text-color);
    align-items: center;
    font-size: var(--font-size-regular);
}

.header .author img {
    height: 20px;
}

.date {
    margin-left: auto;
    color: var(--color-text-muted);
    font-size: var(--font-size-small);
}

.content {
    margin: 15px 0;
    font-size: var(--font-size-regular);
    cursor: pointer;
}

.outerReplyBox .content {
    margin-top: 0;
}

.content img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid var(--border-color);
}

.actions {
    display: flex;
    gap: 15px;
    user-select: none;
}

.action {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    color: var(--color-text-muted);
}

.action.like.active {
    color: rgb(206, 56, 56);
}

.action.bookmark.active {
    fill: var(--primary-color-light);
}

.action.like:hover {
    color: rgb(189, 109, 109);
}

.action:hover {
    color: var(--color-text);
}

.action span {
    font-size: var(--font-size-small);
}

.replyAvatar {
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.outerReplyBox {
    display: flex;
    margin-top: 15px;
}