.navbar {
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: var(--font-size-regular);
}

.linkList {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: var(--font-weight-medium);
}

.logo {
    width: 70px;
}

.flexContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}