.navbar {
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: var(--font-size-regular);
    margin: 0 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.65);
}

.logo {
    width: 70px;
}

.flexContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebarNavigation {
    padding: 20px 0;
    font-weight: var(--font-weight-bold);
    max-width: 200px;
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    top: 60px;
    left: 20px;
    bottom: 0;
    position: fixed;
}

.sidebarNavigation ul {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-weight: var(--font-weight-bold);
}

.sidebarNavigation .navigationItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 100px;
    padding: 10px 20px ;
    transition: background-color 0.1s, color 0.1s;
    color: #5a5a5a;
}

.sidebarNavigation .navigationItem svg {
    color: #777777;
}

.sidebarNavigation .navigationItem.active {
    background-color: rgba(60, 120, 150, var(--opacity-semi-transparent));
    color: var(--secondary-light);
}

.sidebarNavigation .navigationItem.active svg {
    color: var(--secondary-light);
}

.sidebarNavigation .navigationItem:hover, .sidebarNavigation .navigationItem:hover svg {
    color: var(--secondary-light-900);
}

.sidebarNavigation .bottom {
    margin-top: auto;
}